/* TABLE MAIN SECTION */
table {
  font-size: 18px;
  width: 800px;
  margin: 100px auto;
  border-collapse: collapse;
}

thead tr {
  color: #fff;
  background-color: #087f5b;
}

thead th {
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

th,
td {
  text-align: left;
  padding: 16px 24px;
}
